*{
    margin: 0;padding: 0;
}
#wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(156, 193, 203);
}
.container{
    position: relative;
    border: 2px solid rgb(14, 54, 80);
    padding: 10px;
    width: 22rem;
    border-radius: 15px;
    background: repeating-linear-gradient(rgb(100, 192, 100),rgb(73, 180, 210));
}
.inp{
    display: flex;
    justify-content: center;
}
.inp img{
    margin-left: 1rem;
    margin-top: 1rem;
}
input{
    height: 3rem;
    border: 1px solid black;
    width: 15rem;
    border-radius:50px;
    text-align: center;
    margin-top: 1rem;
}
.hmw{
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: space-between;
}
.weatherimg{
    margin-left: 4.5rem;
}
button{
    border-radius: 50px;
    margin-top: .75rem;
    margin-left: 1rem;
    width: 4rem;
    height: 4rem;
}
button img{
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}
.section{
    color: aliceblue;
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.humi,.wi{
    display: flex;
    flex-direction: row;
}
