*{
    margin: 0;
    padding: 0;
}
#wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.contain{
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    width: 70vw;
    height: 80vh;
    border: 3px solid red;
    background-color: rgb(180, 185, 170);
}
.tail{
    background-color: #fff; 
    border-radius: 5px;
}
.food{
    background-color: yellow;
}
canvas{
    background-color: beige;
    height: 50vh;
    width: 50vh;
}