*{
    margin: 0;padding: 0;
}
#wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(151, 29, 151),rgb(39, 39, 217));
}
.container{
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(rgb(140, 139, 139) ,white);
    border-radius: 10px;
}
.head{
    display: flex;
    height: 2rem;
}
.txt{
    display: flex;
    position: relative;
}
.inp{
    border-radius: 10px;
    border: 1px solid black;
}
.newdiv{
    display: flex;
    justify-content:space-between;
}
.crs{
    height: .5rem;
}
.strk{
    text-decoration: line-through;
}
button{
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
    
}

